package components

templ Logo(){
    <div class="flex items-center gap-2">
    <h1 class="text-2xl font-semibold text-white">Peer-to-peer Application 
        <span class="material-symbols-outlined">
        p2p
        </span>
    </h1>
    </div>
}